*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	background-image: url(../img/top_bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: BebasBold;
}
header a {
	color: white;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.60);
	padding: 22px 0;
}
.top_line a {
	font-size: 21px;
	border-bottom: white dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.top_addr {
	background-image: url(../img/top_map.png);
	background-position: left top;
	background-repeat: no-repeat;
	line-height: 28px;
	padding-left: 50px;
}
.top_addr strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
}
.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -8px;
}
.top_line .logo:hover {
	border-bottom: none;
}
.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
	padding: 0px 30px;
}
.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: white;
}
header h1 {
	text-align: center;
	color: white;
	margin-top: 65px;
	font-size: 40px;
	text-shadow: rgba(0, 0, 0, 0.55) 0 3px;
	font-family: BebasRegular;
}
.button {
	background-color: #d12f22;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: 4px solid #ac160a;
	color: white;
	font-family: BebasBold;
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button {
	margin-right: 20px;
}
.st_button {
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 60px;
	background-image: url(../img/camera_icon.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}
.buttons_top{
	position: absolute;
	width: 100%;
	bottom: 32px;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family: BebasRegular;
	text-transform: uppercase;
}
.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu a {
	color: white;
	font-size: 20px;
	padding: 0 26px 0 52px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 20px 20px;
}
.top_mnu li {
	float: left;
}
.top_mnu li .active a, 
.top_mnu li:hover a {
	background-color: #050505;
}
.top_mnu li:nth-child(2) a {
	background-position: 20px -74px;
}
.top_mnu li:nth-child(3) a {
	background-position: 27px -167px;
}
.top_mnu li:nth-child(4) a {
	background-position: 18px -267px;
}
.top_mnu li:nth-child(5) a {
	background-position: 20px -373px;
}
.top_mnu li:nth-child(6) a {
	background-position: 25px -472px;
}
.waranty {
	float: right;
	color: white;
	cursor: default;
	font-size: 15px;
	border: 3px solid white;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 18px;
	margin-top: 8px;
}
.w_left, .w_right {
	display: inline-block;
	vertical-align: top;
}
.w_left span {
	font-size: 34px;
	font-family: BebasBold;
}
.w_left {
	font-size: 20px;
	margin-top: 10px;
	margin-right: 8px;
}
.w_right {
	font-family: RobotoCondensedRegular;
}
.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;
}
.main_cats h2 {
	text-transform: uppercase;
	text-align: center;
	font-family: BebasRegular;
	color: #c9c9c9;
	font-size: 40px;
}
.main_cats h2 strong {
	color: white;
}
.main_cats h2 span {
	color: #d12f22;
}
section h2, 
article h2 {
	position: relative;
}
.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/heder_img.png);
	top: 18px;
	margin-left: -68px;
}
.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/heder_img.png);
	background-position: -50px 0;
	top: 18px;
	margin-left: 18px;
}
.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;
}
.mc_item_wrap {
	margin-left: 30px;
	width: 161px;
	display: inline-block;
	text-align: center;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
.mc_item a {
	color: white;
}
.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/cats_iconset.png);
	margin: 15px auto;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 6px 0;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -149px 0;
}
.mc_item_wrap:nth-child(3n) span {
	background-position: -305px 0;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -467px 0;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -628px 0;
}
.mc_item_wrap:nth-child(6) span {
	background-position: -789px 0;
}
.mc_item h4 {
	font-weight: normal;
	font-family: BebasBold;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.active h4 {
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a;
}
.mc_toggle {
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url(../img/mc_ar.png);
	background-position: 72px 9px;
	background-repeat: no-repeat;
}
.mc_item_wrap:hover .mc_toggle,
.mc_item_wrap.active .mc_toggle {
	background-color: #353535;
	background-position: -118px 9px;
}
.mc_item_wrap.active ul li {
	display: inline-block;
	font-family: BebasRegular;
}
.mc_item_wrap.active ul li a {
	padding: 0 10px;
	color: white;
	text-decoration: underline;
}
.mc_item_wrap.active ul li a:hover {
	text-decoration: none;
}
body .mc_wrap .mc_item_wrap ul {
	position: absolute;
	width: 100%;
	list-style-type: none;
	font-size: 20px;
	background-color: #353535;
	margin-top: 25px;
	padding: 15px 0;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap_af {
	content: "";
	width: 20px;
	height: 10px;
	background-image: url(../img/mc_c_ar.png);
	position: absolute;
	margin: 15px 68px;
	display: none;
}
.mc_button_w {
	text-align: center;
	margin-top: 30px;
}
article.content {
	background-color: #e9e9e9;
}
article h2 {
	text-transform: uppercase;
	text-align: center;
	font-family: BebasRegular;
	color: #050505;
	font-size: 40px;
	margin-bottom: 10px;
}
.s_white h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/content_img.png);
	top: 18px;
	margin-left: -68px;
}
.s_white h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url(../img/content_img.png);
	background-position: -50px 0;
	top: 18px;
	margin-left: 18px;
}
p.h_descr {
	max-width: 790px;
	text-align: center;
	font-family: RobotoRegular;
	color: #050505;
	font-size: 16px;
	margin: auto;
	margin-top: 0;
}
.home_items {
	background-color: #d6d6d6;
	padding: 40px 200px;
	margin-top: 40px;
}
.hi_item img {
	max-width: 100%;
	border-top: 8px solid #ac160a;
}
.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;;
	margin-bottom: 50px;
}
.s_bottom {
	background-color: #fff;
	padding: 32px 200px 0 200px;
}
.sb_header h2 {
	text-transform: uppercase;
	font-family: BebasRegular;
	font-size: 36px;
	color: black;
	margin: 0;
}
.s_bottom img {
	max-width: 90%;
	bottom: 0;
}
.sb_content {
	margin-top: 30px;
}
.sb_header.button_cont {
	text-align: right;
}
footer {
	background-color: #2a2a2a;
	color: white;
	padding: 28px 200px 35px 200px;
	font-family: BebasBold;
	font-size: 20px;
}
footer a {
	color: white;
}
.bot_mnu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.bot_mnu li {
	float: left;;
}
.bot_mnu a {
	padding: 0 15px;
	text-decoration: underline;
}
.bot_mnu a:hover {
	text-decoration: none;
}